:root {
    --nav-background: #546e7a;
}

a.navbar-title {
    font-size: 1.22222rem;
}

.navbar-item img.navbar-logo {
    width: 9%;
}

.navbar-item {
    background: var(--nav-background);
}

.navbar-brand {
    background: var(--nav-background);
}

table {
    word-wrap: anywhere;
}
