:root {
    --nav-background: #546e7a;
}

.navbar-item img.navbar-logo {
    margin-right: 1ex;
    width: 9%;
}

.navbar-item {
    background: var(--nav-background);
}

table {
    word-wrap: anywhere;
}
