<footer class="footer">
    <p>
        Open Worldwide Application Security Project and OWASP are registered trademarks of the OWASP Foundation, Inc.
        This work is Copyright © by Bjoern Kimminich and licensed under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
    </p>
</footer>
