<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img src="{{uiRootPath}}/img/project-logo.jpeg" class="navbar-logo" alt="Project logo">
        <a href="https://owasp-juice.shop">OWASP Juice Shop</a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs" autofocus>
          </div>
        </div>
        <a class="navbar-item" href="https://github.com/juice-shop/pwning-juice-shop">
          <img src="{{uiRootPath}}/img/github.svg" alt="View source code on GitHub">
        </a>
        <a class="navbar-item" href="https://https://twitter.com/owasp_juiceshop">
          <img src="{{uiRootPath}}/img/twitter.svg" alt="Follow us on Twitter">
        </a>
      </div>
    </div>
  </nav>
</header>
