name: "ZAP Baseline Scan"

on:
  schedule:
    - cron:  '0 1 * * *'

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan self-hosted Gitbook
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
        with:
          ref: master
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'https://pwning.owasp-juice.shop'
          cmd_options: '-a'
